<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETOP</title>
    <link rel="stylesheet" href="static\index.css">
    <!-- ubuntu , Afacad, Dancing Script, Josefin Sans, EB Garamond -->
    <link href="https://fonts.googleapis.com/css2?family=Afacad&family=Anton&family=Caveat:wght@600&family=Dancing+Script:wght@600&family=Josefin+Sans:wght@300;400&family=Noto+Serif+TC:wght@300&family=PT+Serif:ital@1&family=Passion+One&family=Righteous&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Afacad:wght@400;500&family=Anton&family=Caveat:wght@600&family=Dancing+Script:wght@600&family=Josefin+Sans:wght@300;400&family=Noto+Serif+TC:wght@300&family=PT+Serif:ital@1&family=Passion+One&family=Righteous&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Afacad:wght@400;500&family=Anton&family=Caveat:wght@600&family=Dancing+Script:wght@400;600&family=Josefin+Sans:wght@300;400&family=Noto+Serif+TC:wght@300&family=PT+Serif:ital@1&family=Passion+One&family=Righteous&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Afacad:wght@400;500&family=Anton&family=Caveat:wght@600&family=Dancing+Script:wght@400;600&family=Josefin+Sans:wght@300;400&family=Noto+Serif+TC:wght@300&family=PT+Serif:ital@1&family=Passion+One&family=Righteous&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Afacad:wght@400;500&family=Anton&family=Caveat:wght@600&family=Dancing+Script:wght@400;600&family=EB+Garamond&family=Josefin+Sans:wght@300;400&family=Noto+Serif+TC:wght@300&family=PT+Serif:ital@1&family=Passion+One&family=Righteous&family=Ubuntu&display=swap" rel="stylesheet">

</head>
<body>
    
    <div class="title">
        <h1 class="sub_title">ETOP</h1>
        <h3 class="context">English Text To Phonetics</h3>
    </div>
    <div class="input-text">
        <form action="#" method = "POST">
            <input type="text" placeholder="Enter Text" name="text" >
            <br>
            <input type="submit">
        </form>
    </div>
    <div class="result">
        <h1>{{ result }}</h1>
    </div>

    <h3 id ="creator">KΛᄂYΛП 🇷​​🇦​​🇲</h3>
    
</body>
</html>